<div class="row">
  <div class=" col-md- offset-md-3">

    <h1>
      <%= @user.username %>
    </h1>

    <%= render "shared/navtabs" %>

  </div>
</div>

<% @user.feed.each do |photo| %>
  <%= render "photos/photo", giraffe: photo %>
<% end %>